Repository PrideInLondon/pride-london-web, pull requests merged in 2020-03, with the labels that each got.

#1356 WEBREF-32 🐛 Fixed centering issue on homepage carousel
  src/homepage/Announcements.styles.js
  src/homepage/announcementsSlickSettings.js
Labels: Bug, size/XS

#1357 WEBNEW-79 ✨ Coming out header and background
  package.json
  src/assets/logo-white.svg
  src/components/ctaLink/CTALink.tsx
  src/events/ComingOut.tsx
  src/events/EventsPage.js
  src/events/EventsPage.styles.js
  src/events/EventsPageBanner.styles.ts
  src/events/EventsPageBanner.tsx
  src/events/EventsPageBanner.types.ts
  src/events/bannerLeft.svg
  src/events/bannerRight.svg
  src/events/diageo.jpg
  src/events/heroImage2.jpg
  src/events/mainBackground1024.jpg
  src/events/mainBackground1600.jpg
  src/events/mainBackground2880.jpg
  src/events/mainBackground768.jpg
  src/layout/Layout.js
  src/layout/navigation/NavItem.styles.ts
  src/layout/navigation/NavItem.test.js
  src/layout/navigation/NavItem.tsx
  src/layout/navigation/NavItem.types.ts
  src/layout/navigation/Navigation.styles.js
  src/layout/navigation/Navigation.styles.ts
  src/layout/navigation/Navigation.test.js
  src/layout/navigation/Navigation.tsx
  src/layout/navigation/Navigation.types.ts
  src/layout/navigation/SubMenu.js
  src/layout/navigation/SubMenu.styles.ts
  src/layout/navigation/SubMenu.tsx
  src/layout/navigation/SubMenu.types.ts
  src/pages/events.js
  src/theme/breakpoints.ts
  src/theme/colors.ts
  src/theme/mediaQueries.ts
  src/utils/style-utils.ts
  yarn.lock
Labels: Event

#1336 WEBREF-67 ♿️ Add jest-axe to jest.setup.ts, add POC accessi…
  .babelrc
  .jest/jest.setup.ts
  package.json
  src/components/card/Card.test.tsx
  src/parade/ParadeGroup.js
  yarn.lock
Labels: Refactoring, size/M

#1366 WEBNEW-84 ⚡️ Consolidate recurring events to display as single entities across the site
  gatsby-node.esm.js
  src/appContext.js
  src/components/checkboxSet/CheckboxSet.styles.ts
  src/components/checkboxSet/CheckboxSet.test.js
  src/components/checkboxSet/CheckboxSet.tsx
  src/components/checkboxSet/CheckboxSet.types.tsx
  src/components/checkboxSet/index.js
  src/contexts/eventsContext.js
  src/events/AppPromotionCard.test.tsx
  src/events/EventCard.test.js
  src/events/EventCard.ts
  src/events/EventListingCard.js
  src/events/EventsPage.js
  src/events/GroupedEventsCards.js
  src/events/GroupedEventsCards.test.js
  src/events/event/EventInfoCard.js
  src/events/event/EventInfoCard.test.js
  src/events/event/EventsYouMayLike.js
  src/events/event/EventsYouMayLike.test.js
  src/events/helpers.js
  src/events/helpers.test.js
  src/layout/Layout.js
  src/layout/LayoutHelmet.js
  src/layout/footer/Footer.test.js
  static/_redirects
Labels: Event, size/XXL

#1383 WEBNEW-92 ♻️ Remove date from homepage
  src/homepage/HomePage.js
Labels: Homepage, size/XS

#1384 WEBNEW-93 ♻️ Remove sponsor logo
  src/events/EventsPage.js
  src/events/EventsPageBanner.tsx
  src/pages/events.js
Labels: Event, size/S

#1391 WEBNEW-95 ✨ Get your event listed link
  src/events/EventsPageBanner.styles.ts
  src/events/EventsPageBanner.tsx
  src/events/GroupedEventsCards.js
Labels: Event, size/M
