Repository PrideInLondon/pride-london-web, pull requests merged in 2020-06, with the labels that each got.

#1503 WEBNEW-149 🔥 Removed ymuw from nav bar
  src/layout/navigation/Navigation.tsx
Labels: Campaign, size/XS

#1502 WEBNEW-147 ♻️ Update nav bar
  src/layout/navigation/NavItem.tsx
  src/layout/navigation/Navigation.styles.ts
  src/layout/navigation/Navigation.tsx
Labels: Navigation, size/L

#1504 WENBEW-150 ♻️ Add link for campaign on nav bar
  src/layout/navigation/Navigation.tsx
Labels: Campaign, Navigation, size/XS

#1505 WEBNEW-151 🐛 Removed app id from fb share url
  src/utils/share-utils.test.ts
  src/utils/share-utils.ts
Labels: Bug, Campaign, size/S

#1506 WEBNEW-152 ♻️ Update donation button for YMUW
  src/campaigns/youMeUsWe/DonateToYourCommunitySection.tsx
Labels: Campaign, size/XS

#1507 WEBNEW-158 💬 Update donation copy
  src/campaigns/youMeUsWe/DonateToYourCommunitySection.tsx
Labels: Campaign, size/S

#1508 WEBNEW-159 🔥 Remove stickiness from social bar
  src/campaigns/youMeUsWe/YouMeUsWePage.styles.tsx
Labels: Campaign, size/XS

#1509 WEBNEW-154 💄 update ymuw meta image
  src/campaigns/youMeUsWe/YouMeUsWePageHelmet.tsx
  src/campaigns/youMeUsWe/assets/ymuw-meta.jpg
Labels: Campaign

#1524 WEBNEW-160 💄 Add Campaign Container on Homepage
  src/homepage/CampaignContainer.js
  src/homepage/CampaignContainer.styles.js
  src/homepage/HomePage.js
Labels: Campaign, Homepage, size/L

#1539 WEBNEW-168 🔥 Remove media partners
  src/sponsors/PartnersPage.styles.ts
  src/sponsors/PartnersPage.tsx
  src/sponsors/PartnersPage.types.ts
  src/sponsors/SponsorBadge.js
  src/sponsors/SponsorBadge.styles.ts
  src/sponsors/SponsorBadge.tsx
  src/sponsors/SponsorsSubSection.js
  src/sponsors/SponsorsSubSection.styles.ts
  src/sponsors/SponsorsSubSection.test.js
  src/sponsors/SponsorsSubSection.tsx
  src/sponsors/SponsorsSubSection.types.ts
  src/sponsors/__mocks__/index.js
  src/sponsors/helpers.test.js
  src/sponsors/helpers.tsx
Labels: Refactoring, Sponsors

#1540 WEBREF-109 ✨ Icon rotation
  src/components/icon/Icon.stories.tsx
  src/components/icon/Icon.tsx
  src/components/icon/Icon.types.ts
  src/components/icon/Icon.utils.test.ts
  src/components/icon/Icon.utils.ts
Labels: Refactoring, size/M

#1549 WEBNEW-183 ♻️ Update homepage banner component
  src/campaigns/youMeUsWe/assets/YMUW_CanadaHouse.jpg
  src/homepage/CampaignContainer.js
  src/homepage/CampaignContainer.styles.js
Labels: Homepage

#1550 WEBNEW-184 💄 Reactivate YMUW component on homepage
  src/campaigns/youMeUsWe/assets/YMUW_CanadaHouse.jpg
  src/homepage/CampaignContainer.js
  src/homepage/CampaignContainer.styles.js
Labels: Homepage

#1526 WEBNEW-144 ✨ DotDigital subscribe form
  src/components/wrapper/Wrapper.tsx
  src/pages/subscribe.tsx
Labels: Generic Content, size/M

#1554 WEBNEW-172 💄 Font colour update
  src/blog/article/BlogHeader.styles.js
  src/blog/article/OtherArticlesHeader.styles.js
  src/blog/article/blogContent/BlogContent.styles.js
Labels: Blog, size/S
