Repository PrideInLondon/pride-london-web, pull requests merged in 2020-04, with the labels that each got.

#1395 WEBNEW-90 👽 Netlify redirects following API upgrade
  static/_redirects
Labels: Environment, size/L

#1372 WEBREF-33 📝 Added documentation on how to add new fonts
  how-to-guide.md
Labels: Documentation, size/S

#1373 WEBREF-56 🎨 Added dep to prettify package.json
  .lintstagedrc
  .prettierignore
  package.json
  yarn.lock
Labels: Environment, size/M

#1405 WEBNEW-107 🔥 Deleted package-lock.json file
  package-lock.json
Labels: Bug

#1407 WEBNEW-98 💬 Updated copy for 2019 partners
  src/layout/footer/Footer.js
  src/sponsors/PartnersPage.js
Labels: Sponsors, size/XS

#1408 WEBNEW-109 🚸 Removed requirement for event to have physical location
  src/events/event/EventPage.js
  src/events/helpers.js
  src/events/helpers.test.js
Labels: Event, size/M

#1409 WEBNEW-104 ✨ Use CTA text from contentful on event button
  src/events/event/EventInfoCard.js
  src/events/event/EventPage.js
Labels: Event Details, Improvement, size/XS

#1410 WEBNEW-106 ✨ Show laptop icon and virtual location when virtual event
  src/components/icons/LaptopIcon.tsx
  src/components/icons/index.js
  src/events/__mocks__/index.js
  src/events/event/EventInfoCard.js
  src/events/event/EventInfoCard.test.js
  src/events/event/EventPage.js
  src/events/helpers.js
  src/events/helpers.test.js
Labels: Event, size/L

#1394 WEBREF-18 ♻️ EventDirectionsSection to use Hooks
  src/events/event/EventDirectionsSection.js
  src/events/event/EventDirectionsSection.tsx
Labels: Refactoring, size/L

#1411 WEBNEW-110 ✨ Updated event listing card to display virtual location
  src/events/EventListingCard.js
  src/events/EventListingCard.test.js
  src/layout/Layout.js
Labels: Event, size/L

#1419 WEBNEW-81 📦 Update Gatsby dependencies
  package.json
  yarn.lock
Labels: Security, size/XL

#1406 WEBNEW-97 🐛 Event times to always be displayed in London time
  package.json
  src/events/EventCard.test.js
  src/events/EventCard.ts
  src/events/EventListingCard.js
  src/events/event/EventInfoCard.js
  src/events/event/EventInfoCard.test.js
  src/events/event/EventShareSection.js
  src/events/helpers.js
  src/events/helpers.test.js
  yarn.lock
Labels: Event, size/L

#1420 WEBNEW-112 Filter Past Events
  gatsby-node.esm.js
  src/events/helpers.js
  src/events/helpers.test.js
  src/layout/Layout.js
  yarn.lock
Labels: Event, Refactoring, size/L

#1421 WEBNEW-102 👽 Event card dates
  @types/uuid-encoder/index.d.ts
  package.json
  src/components/card/Card.tsx
  src/events/EventListingCard.js
  src/events/GroupedEventsCards.js
  src/events/__mocks__/index.js
  src/events/event/EventsYouMayLike.js
  src/events/eventListingCard/EventListingCard.styles.ts
  src/events/eventListingCard/EventListingCard.test.js
  src/events/eventListingCard/EventListingCard.tsx
  src/events/eventListingCard/EventListingCard.types.ts
  src/events/helpers.js
  src/events/helpers.ts
  src/events/index.ts
  yarn.lock
Labels: Event

#1412 WEBREF-88 📝 README refresh
  .env.example
  README.md
Labels: Documentation, size/L

#1422 WEBNEW-113 🍱 Staying In branding
  src/events/ComingOut.tsx
  src/events/EventsPage.js
  src/events/EventsPageBanner.tsx
  src/events/EventsPageBanner.types.ts
  src/events/comingOutHeadline.svg
  src/events/diageo.jpg
  src/events/heroImage.jpg
  src/events/heroImage2.jpg
  src/events/stayingInHeadline.svg
  src/pages/events.js
Labels: Event

#1438 WEBNEW-117 🔧 Added redirect for campaign applications
  static/_redirects
Labels: Environment, size/XS

#1424 WEBNEW-102 event card dates
  src/events/EventCard.test.js
  src/events/EventCard.ts
  src/events/EventsPage.js
  src/events/__mocks__/index.js
  src/events/eventListingCard/EventListingCard.test.js
  src/events/eventListingCard/EventListingCard.test.ts
  src/events/eventListingCard/EventListingCard.tsx
  src/events/eventListingCard/EventListingCard.types.ts
  src/events/eventListingCard/EventListingCard.utils.ts
  src/events/helpers.test.js
  src/events/helpers.ts
Labels: Event, Refactoring, size/XXL

#1440 WEBNEW-82 📦 Update Gatsby dependencies
  package.json
  yarn.lock
Labels: Security
