Repository PrideInLondon/pride-london-web, pull requests merged in 2021-02, with the labels that each got.

#1881 WEBNEW-215 🔧 Blog article page generation
  gatsby-config.js
  gatsby-node.esm.js
  src/blog/article/BlogArticlePage.tsx
  src/blog/article/helpers.test.ts
  src/blog/article/helpers.ts
  src/utils/page-utils.test.ts
  src/utils/page-utils.ts
Labels: Blog, size/L

#1889 WEBNEW-240 💬 Update date in the footer
  src/components/footer/Footer.tsx
Labels: Homepage, size/XS

#1888 DSO-38 📄 Update PIL license for website
  LICENSE
Labels: Documentation, size/XS

#1887 WEBNEW-228 ✨ Blog article share bar
  src/blog/article/BlogArticlePage.styles.ts
  src/blog/article/BlogArticlePage.tsx
  src/blog/article/BlogArticlePage.types.ts
  src/blog/article/PageContent.styles.tsx
  src/campaigns/youMeUsWe/CelebrateYourCommunitySection.tsx
  src/campaigns/youMeUsWe/PrideInLockdownSection.tsx
  src/campaigns/youMeUsWe/YouMeUsWePage.styles.tsx
  src/campaigns/youMeUsWe/YouMeUsWePage.tsx
  src/components/shareBar/ShareBar.stories.tsx
  src/components/shareBar/ShareBar.styles.tsx
  src/components/shareBar/ShareBar.tsx
  src/components/shareBar/ShareBar.types.ts
  src/utils/document-utils.test.ts
  src/utils/document-utils.ts
Labels: Blog, Bug, size/L

#1890 WEBNEW-233 💄 Blog category colours
  src/blog/article/BlogArticlePage.tsx
  src/theme/colors.ts
Labels: Blog, size/S

#1892 WEBNEW-230 ✨ Blog article "You may also like" section
  src/blog/article/BlogArticlePage.styles.ts
  src/blog/article/BlogArticlePage.tsx
  src/blog/article/BlogArticlePage.types.ts
  src/components/categoryCard/CategoryCard.stories.tsx
  src/components/categoryCard/CategoryCard.styles.tsx
  src/components/categoryCard/CategoryCard.tsx
  src/components/categoryCard/CategoryCard.types.ts
  src/components/categoryCard/index.ts
  src/components/tag/Tag.styles.tsx
  src/components/tag/Tag.tsx
  src/components/tag/Tag.types.ts
  src/components/wrapper/Wrapper.tsx
  src/components/wrapper/Wrapper.types.ts
Labels: Blog, size/L

#1905 WEBNEW-243 🐛 Updated share bar on desktop YMUW page to be clickable
  src/campaigns/youMeUsWe/YouMeUsWePage.styles.tsx
Labels: Bug, size/XS

#1907 WEBNEW-216 ✨ Blog landing page
  gatsby-config.js
  src/blog/BlogPage.styles.ts
  src/blog/BlogPage.tsx
  src/blog/BlogPage.types.ts
  src/blog/article/BlogArticlePage.styles.ts
  src/blog/article/BlogArticlePage.tsx
  src/blog/article/BlogArticlePage.types.ts
  src/blog/article/BlogArticleSummaryCard.styles.ts
  src/blog/article/BlogArticleSummaryCard.tsx
  src/blog/article/helpers.ts
  src/components/rippedSection/RippedSection.styles.tsx
  src/components/rippedSection/RippedSection.tsx
  src/components/rippedSection/RippedSection.types.ts
  src/components/wrapper/Wrapper.types.ts
  src/pages/blog.ts
Labels: Blog, size/L

#1908 WEBNEW-244 ♻️ Blog article author name
  gatsby-node.esm.js
  src/blog/article/BlogArticlePage.tsx
  src/components/talentProfile/TalentProfile.stories.tsx
  src/components/talentProfile/TalentProfile.styles.ts
  src/components/talentProfile/TalentProfile.test.tsx
  src/components/talentProfile/TalentProfile.tsx
  src/components/talentProfile/TalentProfile.types.ts
  src/fifty-two/entry/AboutTheArtwork.tsx
  src/fifty-two/entry/AboutTheArtwork.types.ts
  src/fifty-two/entry/FiftyTwoEntryPage.tsx
  src/fifty-two/entry/FiftyTwoEntryPage.types.ts
Labels: Blog, size/L

#1906 WEBNEW-242 👽 Video model update
  src/campaigns/youMeUsWe/PrideInLockdownSection.tsx
  src/components/richText/__mocks__/index.ts
  src/components/richText/renderMethods.tsx
  src/components/video/Video.stories.tsx
  src/components/video/Video.styles.ts
  src/components/video/Video.test.tsx
  src/components/video/Video.tsx
  src/components/video/Video.types.ts
Labels: Blog, Design, size/M

#1891 WEBNEW-206 🐛 fix mobile nav close bug
  src/layout/navigation/Navigation.tsx
Labels: size/XS

#1911 WEBREF-133 ♻️ Ripped section random variant
  src/blog/BlogPage.tsx
  src/blog/article/BlogArticlePage.tsx
  src/components/richText/renderMethods.tsx
  src/components/rippedSection/Rip.test.ts
  src/components/rippedSection/Rip.tsx
  src/components/rippedSection/Rip.types.ts
  src/components/rippedSection/RippedSection.stories.tsx
  src/components/rippedSection/ripVariants/RipVariant.styles.ts
  src/components/rippedSection/ripVariants/RipVariant1.tsx
  src/components/rippedSection/ripVariants/RipVariant2.tsx
  src/components/rippedSection/ripVariants/RipVariant3.tsx
  src/components/rippedSection/ripVariants/RipVariant4.tsx
  src/components/rippedSection/ripVariants/RipVariant5.tsx
Labels: Design, size/L

#1917 WEBNEW-246 💬 Update date on Hero Homepage
  src/homepage/HomePage.js
Labels: Homepage, size/XS

#1916 WEBNEW-245 🍪 Swap out Metomic with UserCentrics
  @types/global.d.ts
  package.json
  src/components/banner/Banner.js
  src/components/footer/Footer.tsx
  src/genericContentPage/Video.js
  src/layout/Layout.js
  src/layout/LayoutHelmet.js
  yarn.lock
Labels: Environment, Refactoring, size/L
